bin/
obj/
*.user
*.suo
.vs/
*.pdb
*.wixpdb
*.cab
src/
tools/
templates/
damm-stuff/
global.json
Directory.Build.props
CatDot.sln
installer/build.bat
installer/build.ps1
installer/build-portable.ps1
installer/Product.wxs
installer/CatDot.Installer/
installer/CatDot.Setup/InstallerWindow.cs
installer/CatDot.Setup/Program.cs
installer/CatDot.Setup/Sounds/
installer/CatDot.Setup/CatDot.Setup.csproj
installer/dist/
installer/installer/
installer/CatDot.Setup/bin/
installer/CatDot.Setup/obj/
installer/catdot.json
.DS_Store
Thumbs.db
